# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
nextjs15_assets/assets/fonts/WorkSans-Black.ttf
nextjs15_assets/assets/fonts/WorkSans-Bold.ttf
nextjs15_assets/assets/fonts/WorkSans-ExtraBold.ttf
nextjs15_assets/assets/fonts/WorkSans-ExtraLight.ttf
nextjs15_assets/assets/fonts/WorkSans-Light.ttf
nextjs15_assets/assets/fonts/WorkSans-Medium.ttf
nextjs15_assets/assets/fonts/WorkSans-Regular.ttf
nextjs15_assets/assets/fonts/WorkSans-SemiBold.ttf
nextjs15_assets/assets/fonts/WorkSans-Thin.ttf
nextjs15_assets/assets/favicon.ico
